@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@using Microsoft.AspNetCore.Identity
@using IT15_Project.Models

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/cust_css/cust.css">
    <!--[if lt IE 9]>
        <script src="~/assets/js/html5shiv.min.js"></script>
        <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="index-2.html" class="logo">
                    <img src="/assets/img/logo.png" width="35" height="35" alt=""> <span>Preclinic</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="/assets/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                Hello @UserManager.GetUserName(User)!
                            </a>
                            <div class="dropdown-divider"></div>
                            <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "", new { area = "" })">
                                <button id="logout" type="submit" class="ps-0 btn btn-link text-decoration-none text-danger">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        }
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                            Hello @UserManager.GetUserName(User)!
                        </a>
                        <div class="dropdown-divider"></div>
                        <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "", new { area = "" })">
                            <button id="logout" type="submit" class="ps-0 btn btn-link text-decoration-none text-danger">Logout</button>
                        </form>
                    }
                    else
                    {
                        <a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    }
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a asp-controller="Admin" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="DoctorsPage">
                                <i class="fa fa-user-md"></i> <span>Doctors</span>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Admin" asp-action="Appointment"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                        </li>
                        <li>
                            <a href="schedule.html"><i class="fa fa-calendar-check-o"></i> <span>Doctor Schedule</span></a>
                        </li>
                        <li>
                            <a href="departments.html"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-user"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="employees.html">Employees List</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-money"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="payments.html">Payments</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="settings.html"><i class="fa fa-cog"></i> <span>Settings</span></a>
                        </li>
                        <li>
                            <a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            @RenderBody();

        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/Chart.bundle.js"></script>
    <script src="~/assets/js/chart.js"></script>
    <script src="~/assets/js/app.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>